<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="COSAC">

 <test name="cosacProject Chrome Test"  enabled="false">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.cosac.TestCases.COS01_LocationCreation" />
      </classes>
  </test>
  
  <test name="cosacProject Chrome Test1" enabled="true">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.cosac.TestCases.COS10_SparePartsProductCreation" />
      </classes>
  </test>
</suite>
